---
http_interactions:
- request:
    method: get
    uri: https://ipapi.co/json/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - HEAD, GET, POST, OPTIONS, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "ip": "2600:1700:9910:30b0:692e:37af:f40b:1943",
            "network": "2600:1700:9910::/44",
            "version": "IPv6",
            "city": "Little Rock",
            "region": "Arkansas",
            "region_code": "AR",
            "country": "US",
            "country_name": "United States",
            "country_code": "US",
            "country_code_iso3": "USA",
            "country_capital": "Washington",
            "country_tld": ".us",
            "continent_code": "NA",
            "in_eu": false,
            "postal": "72210",
            "latitude": 34.707,
            "longitude": -92.4702,
            "timezone": "America/Chicago",
            "utc_offset": "-0600",
            "country_calling_code": "+1",
            "currency": "USD",
            "currency_name": "Dollar",
            "languages": "en-US,es-US,haw,fr",
            "country_area": 9629091.0,
            "country_population": 327167434,
            "asn": "AS7018",
            "org": "ATT-INTERNET4"
        }
  recorded_at: Mon, 27 Jan 2025 14:40:51 GMT
recorded_with: VCR 6.3.1
