---
http_interactions:
- request:
    method: get
    uri: https://geocode.xyz/?auth=205947941065469632418x93807%20&geoit=json&locate=Little%20Rock,,United%20States
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{   "standard" : {      "addresst" : {},      "statename" : {},      "city"
        : "Little Rock",      "prov" : "US",      "countryname" : "United States of
        America",      "postal" : {},      "confidence" : "0.90"   },   "longt" :
        "-92.37521",   "alt" : {},   "elevation" : {},   "remaining_credits" : "-81",   "latt"
        : "34.72661"}'
  recorded_at: Mon, 27 Jan 2025 14:37:58 GMT
recorded_with: VCR 6.3.1
